[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "pico/pico-sdk"]
	path = pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico/pico-examples"]
	path = pico/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "pico/pico-extras"]
	path = pico/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "pico/debugprobe"]
	path = pico/debugprobe
	url = https://github.com/raspberrypi/debugprobe.git
[submodule "lib/pico-ssd1306"]
	path = lib/pico-ssd1306
	url = git@github.com:digiexchris/pico-ssd1306.git
