/ {
    aliases {
        qdec0 = &qdec;
    };
};

&timers3 {
    status = "okay";

    qdec: qdec {
        status = "okay";
        pinctrl-0 = <&tim3_ch1_pa6 &tim3_ch2_pa7>;
        pinctrl-names = "default";
        st,input-polarity-inverted;
        st,input-filter-level = <FDIV32_N8>;
        st,counts-per-revolution = <16>;
    };
};

&gpioa {
    status = "okay";

    encoder_button: button {
        gpios = <0 GPIO_ACTIVE_LOW>; /* PA0, Active Low */
        interrupt-parent = <&exti>;
        gpio-hog;
    };
};
