#include <zephyr/dt-bindings/display/ili9xxx.h>

/ {
	chosen {
		//zephyr,display = &adafruit_2_8_tft_touch_v2_ili9340;
		zephyr,display = &ili9341;
		// zephyr,sdhc = &sdhc1;
	};

	aliases {
		// sdhc0 = &sdhc1;
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		dc-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		// reset-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
		spi-dev = <&spi2>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		ili9341: ili9341@0 {
			compatible = "ilitek,ili9341";
			mipi-max-frequency = <25000000>;
			reg = <0>;
			pixel-format = <ILI9XXX_PIXEL_FORMAT_RGB888>;
			rotation = <90>;
			width = <240>;
			height = <320>;
		};
	};

	// lvgl_pointer {
	// 	compatible = "zephyr,lvgl-pointer-input";
	// 	input = <&ft5336_adafruit_2_8_tft_touch_v2>;
	// 	swap-xy;
	// 	invert-x;
	// 	invert-y;
	// };

    //the shield is
//     #define TFT_MISO 12
// #define TFT_MOSI 13
// #define TFT_SCLK 14
// #define TFT_CS   15  // Chip select control pin
// #define TFT_DC    2  // Data Command control pin
// //#define TFT_RST   -1  // Reset pin (could connect to RST pin)
// #define TFT_RST  -1 12  // Set TFT_RST to -1 if display RESET is connected to ESP32 board RST

// #define TOUCH_CS 33     // Chip select pin (T_CS) of touch screen

// #define TFT_BL   21            // LED back-light control pin
// #define TFT_BACKLIGHT_ON HIGH  // Level to turn ON back-light (HIGH or LOW)

// #define SPI_FREQUENCY  55000000 // STM32 SPI1 only (SPI2 maximum is 27MHz)
// // #define SPI_FREQUENCY  80000000

// // Optional reduced SPI frequency for reading TFT
// #define SPI_READ_FREQUENCY  20000000

// // The XPT2046 requires a lower SPI clock rate of 2.5MHz so we define that here:
// #define SPI_TOUCH_FREQUENCY  2500000

// // The ESP32 has 2 free SPI ports i.e. VSPI and HSPI, the VSPI is the default.
// // If the VSPI port is in use and pins are not accessible (e.g. TTGO T-Beam)
// // then uncomment the following line:
// #define USE_HSPI_PORT

	// adafruit_2_8_tft_touch_v2_mipi_dbi {
	// 	compatible = "zephyr,mipi-dbi-spi";
	// 	spi-dev = <&spi2>;
	// 	dc-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	// 	write-only;
	// 	#address-cells = <1>;
	// 	#size-cells = <0>;

	// 	adafruit_2_8_tft_touch_v2_ili9340: ili9340@0 {
	// 		compatible = "ilitek,ili9340";
	// 		mipi-max-frequency = <15151515>;
	// 		reg = <0>;
	// 		width = <240>;
	// 		height = <320>;
	// 		pixel-format = <ILI9XXX_PIXEL_FORMAT_RGB888>;
	// 		rotation = <90>;
	// 		frmctr1 = [00 18];
	// 		pwctrl1 = [23 00];
	// 		vmctrl1 = [3e 28];
	// 		vmctrl2 = [86];
	// 		pgamctrl = [0f 31 2b 0c 0e 08 4e f1 37 07 10 03 0e 09 00];
	// 		ngamctrl = [00 0e 14 03 11 07 31 c1 48 08 0f 0c 31 36 0f];
	// 	};
	// };
};

&gpio0 {
    status = "okay";
    tft_backlight: tft-backlight {
        gpios = <21 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN | GPIO_PULL_UP)>;
        output-low;
        gpio-hog;
    };
};

&gpio0 {
	status = "okay";

	/* FIXME: should be part of the display node */
	lcd-backlight {
		gpio-hog;
		gpios = <5 GPIO_ACTIVE_HIGH>;
		output-low;
	};
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
};

// &spi2 {
// 	status = "okay";
// 	cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>,	/* D10 */
// 		   <&gpio0 33 GPIO_ACTIVE_LOW>;	/* D04 */

// 	adafruit_2_8_tft_touch_v2_sdhc: sdhc@1 {
// 		compatible = "zephyr,sdhc-spi-slot";
// 		reg = <1>;
// 		status = "okay";
// 		spi-max-frequency = <24000000>;
// 		mmc {
// 			compatible = "zephyr,sdmmc-disk";
// 			status = "okay";
// 		};
// 	};
// };

// &sdhc {
// 	sdhc1: sdhc@1 {
// 		status = "okay";

// 		pinctrl-0 = <&sdhc0_default>;
// 		pinctrl-names = "default";
// 		power-delay-ms = <100>;
// 		max-bus-freq = <52000000>;
// 		bus-width = <4>;

// 		clk-pin = <14>;
// 		cmd-pin = <15>;
// 		d0-pin = <2>;
// 		d1-pin = <4>;
// 		d2-pin = <12>;
// 		d3-pin = <13>;

// 		mmc {
// 			compatible = "zephyr,sdmmc-disk";
// 			status = "okay";
// 		};
// 	};
// };


    // &spim2_default { //default esp32
    //     group1 {
    //         pinmux = <SPIM2_MISO_GPIO16>,
    //             <SPIM2_SCLK_GPIO14>,
    //             <SPIM2_CSEL_GPIO15>;
    //     };
    //     group2 {
    //         pinmux = <SPIM2_MOSI_GPIO13>;
    //         output-low;
    //     };
    // };

// &i2c0 {
// 	ft5336_adafruit_2_8_tft_touch_v2: ft5336@38 {
// 		compatible = "focaltech,ft5336";
// 		reg = <0x38>;
// 		/* Uncomment if IRQ line is available (requires to solder jumper) */
// 		/* int-gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>; */ /* D7 */
// 	};
// };

