#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    //USART1 = PA9, PA10
    //SPI1 NSS = PA4/NC, SCK = PA5, MISO = PA6/NC, DIN = PA7, DC = PB14, RST = PB15, CS = PB13
    //PWM PA8
    //QDEC = PB6, PB7
    

    
        chosen {
        zephyr,display = &st7789v0;
        zephyr,console = &cdc_acm_uart0;
        xaxis = &XAxisStepper0;
        };
    
        buttons {
            debounce-interval-ms = <50>;
            status = "okay";
            compatible = "gpio-keys";
    
            joy_up: button_1 {
                status = "okay";
                
                gpios = <&gpio0 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x133>;
                //zephyr,code = <BTN_0>;
            };
    
            joy_down: button_2 {
                status = "okay";
                
                gpios = <&gpio0 18 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x130>;
                //zephyr,code = <BTN_0>;
            };

            joy_left: button_3 {
                status = "okay";
                
                gpios = <&gpio0 16 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x110>;
                //zephyr,code = <BTN_0>;
            };

            joy_right: button_4 {
                status = "okay";
                
                gpios = <&gpio0 20 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x111>;
                //zephyr,code = <BTN_0>;
            };

            joy_press: button_5 {
                status = "okay";
                
                gpios = <&gpio0 3 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x112>;
                //zephyr,code = <BTN_0>;
            };

            a: button_6 {
                status = "okay";
                
                gpios = <&gpio0 15 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x100>;
                //zephyr,code = <BTN_0>;
            };

            b: button_7 {
                status = "okay";
                
                gpios = <&gpio0 17 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x101>;
                //zephyr,code = <BTN_0>;
            };

            x: button_8 {
                status = "okay";
                
                gpios = <&gpio0 19 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x102>;
                //zephyr,code = <BTN_0>;
            };

            y: button_9 {
                status = "okay";
                
                gpios = <&gpio0 21 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x103>;
                //zephyr,code = <BTN_0>;
            };
        };

        endstops {
            compatible = "gpio-keys";
            rightTrigger: button_10 {
                status = "okay";
                
                gpios = <&gpio0 4 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x100>;
                //zephyr,code = <BTN_0>;
            };

            leftTrigger: button_11 {
                status = "okay";
                
                gpios = <&gpio0 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
                
                zephyr,code = <0x101>;
                //zephyr,code = <BTN_0>;
            };
    
        };

        
        
    
    };

    &gpio0 {
            

        XAxisStepper0: stepper0 {
            compatible = "VoidItsWarranty,stepper-motor";
            step-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
            dir-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
            enable-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
            max-speed = <2000>;
            max-acceleration = <200>;
            max-deceleration = <0>; //decel same as accel
            enable-polarity = <1>;
            dir-polarity = <1>;
        };
    };

    &usbd {
        cdc_acm_uart0: cdc_acm_uart0 {
            compatible = "zephyr,cdc-acm-uart";
        };
    };

    &pinctrl {

        pio0_spi0_default: pio0_spi0_default {
            group1 {
                pinmux = <PIO0_P10>, <PIO0_P11>;
            };
            group2 {
                pinmux = <PIO0_P1>;
                input-enable;
            };
        };

        backlight: backlight {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
            output-high;
        };
        
    };
    
    &pio0 {
        status = "okay";
    
        pio0_spi0: pio0_spi0 {
            pinctrl-0 = <&pio0_spi0_default>;
            pinctrl-names = "default";
    
            compatible = "raspberrypi,pico-spi-pio";
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;
            clocks = <&clocks RPI_PICO_CLKID_CLK_SYS>;
            miso-gpios = <&gpio0 1 0>;
            cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
            clk-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
            mosi-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
            st7789v0:st7789v@0 { 
                compatible = "sitronix,st7789v";
                spi-max-frequency = <10000000>;
                reg = <0>;
                cmd-data-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>; /* PB14 */
                reset-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>; /* PB15 */
                width = <240>;
                height = <320>;
                x-offset = <0>;
                y-offset = <0>;
                vcom = <0x19>;
                gctrl = <0x35>;
                vrhs = <0x12>;
                vdvs = <0x20>;
                mdac = <0x00>;
                gamma = <0x01>;
                colmod = <0x05>;
                lcm = <0x2c>;
                porch-param = [0c 0c 00 33 33];
                cmd2en-param = [5a 69 02 01];
                pwctrl1-param = [a4 a1];
                pvgam-param = [D0 04 0D 11 13 2B 3F 54 4C 18 0D 0B 1F 23];
                nvgam-param = [D0 04 0C 11 13 2C 3F 44 51 2F 1F 1F 20 23];
                ram-param = [00 F0];
                rgb-param = [CD 08 14];
            };
        };
    };
    
    
    // &spi1 {
    //     status = "okay";
    //     cs-gpios = <&gpiob 13 GPIO_ACTIVE_LOW>;	/* PB13 */
    
    //     //pinctrl-0 = <&spi1_sck_pb3 &spi1_mosi_pa7>;
    
        
    // };
    
    //&spi1 {
    //	pinctrl-0 = <&spi1_sck_pa5 &spi1_nss_pa4
    //		     &spi1_miso_pa6 &spi1_mosi_pa7>;
    //	pinctrl-names = "default";
    //	status = "okay";
    //};